<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error"/>

    <!-- Максимальная длина строки -->
    <module name="LineLength">
        <property name="max" value="140"/>
    </module>

    <module name="TreeWalker">
        <module name="UnusedImports"/>
        <module name="AvoidStarImport">
            <property name="allowClassImports" value="true"/>
            <property name="allowStaticStarImports" value="true"/>
        </module>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>

        <module name="EmptyBlock"/>
    </module>
</module>